[submodule "tap-b"]
	path = tap-b
	url = https://github.com/ajcrocker14/tap-b.git
[submodule "TransportationNetworks"]
	path = TransportationNetworks
	url = https://github.com/ajcrocker14/TransportationNetworks.git
